 .u-section-1 {
  background-image: none;
  min-height: 747px;
}

.u-section-1 .u-shape-1 {
  width: 432px;
  height: 595px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  margin: 93px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-image-1 {
  width: 1117px;
  height: 639px;
  object-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -687px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 630px;
  min-height: 373px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  background-image: none;
  margin: -296px auto 31px calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 43px 8px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 19px 17px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 22px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 13px 0 auto;
  padding: 10px 30px 11px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 645px;
  }

  .u-section-1 .u-shape-1 {
    height: 417px;
    margin-right: calc(((100% - 1140px) / 2) + 200px);
  }

  .u-section-1 .u-image-1 {
    width: 885px;
    height: 590px;
    margin-top: -480px;
    margin-right: calc(((100% - 1140px) / 2) + 55px);
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: -82px;
    margin-left: calc(((100% - 1140px) / 2) + 200px);
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 519px;
  }

  .u-section-1 .u-shape-1 {
    height: 353px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 288px);
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 480px;
    margin-top: -417px;
    margin-right: calc(((100% - 1140px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 522px;
    margin-top: -84px;
    margin-right: calc(((100% - 1140px) / 2) + 198px);
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 416px;
  }

  .u-section-1 .u-shape-1 {
    height: 232px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 377px;
    margin-top: -296px;
  }

  .u-section-1 .u-group-1 {
    width: 440px;
    margin-top: -47px;
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 302px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    height: 153px;
    margin-top: 59px;
    margin-right: calc(((100% - 1140px) / 2));
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 270px;
    margin-top: -211px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 40px;
    margin-right: calc(((100% - 1140px) / 2));
    margin-bottom: 55px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1053px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 63px;
  margin-bottom: 39px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/ed874ebb3e2d0e07b84e4dfeef0728d4ac0658cc.jpg");
  background-position: 19.7% 50%;
  min-height: 315px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 322px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-2 {
  padding: 24px 60px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 23px auto 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 335px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-3 {
  padding: 27px 60px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  margin: -3px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 18px auto 0 0;
}

.u-section-2 .u-image-2 {
  background-image: url("images/sa-site.png");
  background-position: 50% 50%;
  min-height: 335px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  min-height: 297px;
  background-image: url("images/unam-firma-azul.png");
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 297px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  margin: 20px 60px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 9px 60px 0 0;
}

.u-section-2 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 9px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-2 .u-image-1 {
    min-height: 260px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 266px;
  }

  .u-section-2 .u-btn-1 {
    padding: 7px 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 321px;
  }

  .u-section-2 .u-image-2 {
    min-height: 321px;
  }

  .u-section-2 .u-image-3 {
    min-height: 245px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 299px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 704px;
  }

  .u-section-2 .u-image-1 {
    min-height: 199px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    min-height: 246px;
  }

  .u-section-2 .u-image-3 {
    min-height: 188px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 355px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1304px;
  }

  .u-section-2 .u-image-1 {
    min-height: 299px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 369px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 282px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 226px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-2 .u-image-1 {
    min-height: 188px;
  }

  .u-section-2 .u-image-2 {
    min-height: 232px;
  }

  .u-section-2 .u-image-3 {
    min-height: 178px;
  }
} .u-section-3 {
  min-height: 100vh;
}

.u-section-3 .u-slider-1 {
  min-height: 697px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -57px;
}

.u-section-3 .u-carousel-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 65px;
}

.u-section-3 .u-group-1 {
  width: 555px;
  min-height: 654px;
  height: auto;
  margin: 30px auto 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 60px 40px 40px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3rem;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 50px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 67px auto 0 0;
  padding: 14px 48px 16px 47px;
}

.u-section-3 .u-image-1 {
  width: 442px;
  height: 571px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -621px 13px 50px auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-text-3 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3rem;
  width: 634px;
  margin: 42px auto 0;
}

.u-section-3 .u-text-4 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.5rem;
  font-weight: 400;
  width: 469px;
  margin: 15px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 965px;
  margin: 27px auto 0;
}

.u-section-3 .u-image-2 {
  background-image: url("images/OperaCapturadepantalla_2023-07-28_121501_www.fis.unam.mx.png");
  background-position: 50% 17.05%;
  min-height: 247px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-3 .u-image-3 {
  background-image: url("images/OperaCapturadepantalla_2023-07-28_121718_www.fis.unam.mx.png");
  background-position: 50% 11.14%;
  min-height: 247px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 60px;
}

.u-section-3 .u-image-4 {
  min-height: 247px;
  background-image: url("images/OperaCapturadepantalla_2023-07-28_121859_www.fis.unam.mx.png");
  background-position: 0.61% 50%;
}

.u-section-3 .u-container-layout-6 {
  padding: 1px 0;
}

.u-section-3 .u-image-5 {
  background-image: url("images/OperaCapturadepantalla_2023-07-28_122013_www.fis.unam.mx1.png");
  background-position: 14.61% 50%;
  min-height: 247px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  min-height: 247px;
  background-image: url("images/OperaCapturadepantalla_2023-07-28_122240_www.fis.unam.mx.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px 0;
}

.u-section-3 .u-text-5 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3rem;
  margin: 35px 143px 0 171px;
}

.u-section-3 .u-text-6 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 14px 78px 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-3 .u-image-7 {
  width: 1084px;
  height: 366px;
  margin: 14px auto 0;
}

.u-section-3 .u-text-7 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.5rem;
  font-weight: 400;
  width: 217px;
  margin: 38px auto 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-slider-1 {
    min-height: 649px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-image-2 {
    min-height: 241px;
  }

  .u-section-3 .u-image-3 {
    min-height: 241px;
  }

  .u-section-3 .u-image-4 {
    min-height: 241px;
  }

  .u-section-3 .u-image-5 {
    min-height: 241px;
  }

  .u-section-3 .u-image-6 {
    min-height: 241px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 71px;
    margin-right: 43px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
    width: 908px;
  }

  .u-section-3 .u-image-7 {
    width: 940px;
    height: 318px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-slider-1 {
    min-height: 575px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-image-2 {
    min-height: 185px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-3 {
    min-height: 185px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-4 {
    min-height: 185px;
  }

  .u-section-3 .u-image-5 {
    min-height: 185px;
  }

  .u-section-3 .u-image-6 {
    min-height: 185px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    width: 720px;
  }

  .u-section-3 .u-image-7 {
    width: 720px;
    height: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-slider-1 {
    min-height: 514px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-1 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
    width: 540px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-image-2 {
    min-height: 278px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 278px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    min-height: 416px;
  }

  .u-section-3 .u-image-5 {
    min-height: 416px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-6 {
    min-height: 416px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-6 {
    width: 540px;
  }

  .u-section-3 .u-image-7 {
    width: 540px;
    height: 183px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-slider-1 {
    min-height: 356px;
  }

  .u-section-3 .u-group-1 {
    width: 320px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-1 {
    height: 413px;
    width: 320px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-3 .u-text-4 {
    width: 340px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-image-2 {
    min-height: 175px;
  }

  .u-section-3 .u-image-3 {
    min-height: 175px;
  }

  .u-section-3 .u-image-4 {
    min-height: 262px;
  }

  .u-section-3 .u-image-5 {
    min-height: 262px;
  }

  .u-section-3 .u-image-6 {
    min-height: 262px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-6 {
    width: 340px;
  }

  .u-section-3 .u-image-7 {
    width: 340px;
    height: 115px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 464px;
}

.u-section-4 .u-list-1 {
  margin-top: 105px;
  margin-bottom: 30px;
}

.u-section-4 .u-repeater-1 {
  min-height: 330px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-image-1 {
  height: 192px;
  background-image: url("images/35f543ef894b94b181da76474ce83c9ab79e78d3.jpg");
  background-position: 50% 50%;
  width: 201px;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  width: 252px;
  margin: 22px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-image-2 {
  height: 192px;
  background-image: url("images/35f543ef894b94b181da76474ce83c9ab79e78d3.jpg");
  background-position: 50% 50%;
  width: 201px;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  width: 252px;
  margin: 22px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-4 .u-image-3 {
  height: 192px;
  background-image: url("images/35f543ef894b94b181da76474ce83c9ab79e78d3.jpg");
  background-position: 50% 50%;
  width: 201px;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  width: 252px;
  margin: 22px auto 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-4 .u-image-4 {
  height: 192px;
  background-image: url("images/35f543ef894b94b181da76474ce83c9ab79e78d3.jpg");
  background-position: 50% 50%;
  width: 201px;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  width: 252px;
  margin: 22px auto 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-4 .u-image-5 {
  height: 192px;
  background-image: url("images/35f543ef894b94b181da76474ce83c9ab79e78d3.jpg");
  background-position: 50% 50%;
  width: 201px;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  width: 252px;
  margin: 22px auto 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-4 .u-image-6 {
  height: 192px;
  background-image: url("images/35f543ef894b94b181da76474ce83c9ab79e78d3.jpg");
  background-position: 50% 50%;
  width: 201px;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  width: 252px;
  margin: 22px auto 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 0;
}

.u-section-4 .u-image-7 {
  height: 192px;
  background-image: url("images/35f543ef894b94b181da76474ce83c9ab79e78d3.jpg");
  background-position: 50% 50%;
  width: 201px;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  width: 252px;
  margin: 22px auto 0;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px 0;
}

.u-section-4 .u-image-8 {
  height: 192px;
  background-image: url("images/35f543ef894b94b181da76474ce83c9ab79e78d3.jpg");
  background-position: 50% 50%;
  width: 201px;
  margin: 0 auto;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  width: 252px;
  margin: 22px auto 0;
}

.u-section-4 .u-container-layout-9 {
  padding: 30px 0;
}

.u-section-4 .u-image-9 {
  height: 192px;
  background-image: url("images/35f543ef894b94b181da76474ce83c9ab79e78d3.jpg");
  background-position: 50% 50%;
  width: 201px;
  margin: 0 auto;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  width: 252px;
  margin: 22px auto 0;
}

.u-section-4 .u-container-layout-10 {
  padding: 30px 0;
}

.u-section-4 .u-image-10 {
  height: 192px;
  background-image: url("images/35f543ef894b94b181da76474ce83c9ab79e78d3.jpg");
  background-position: 50% 50%;
  width: 201px;
  margin: 0 auto;
}

.u-section-4 .u-text-10 {
  font-weight: 700;
  width: 252px;
  margin: 22px auto 0;
}

.u-section-4 .u-container-layout-11 {
  padding: 30px 0;
}

.u-section-4 .u-image-11 {
  height: 192px;
  background-image: url("images/35f543ef894b94b181da76474ce83c9ab79e78d3.jpg");
  background-position: 50% 50%;
  width: 201px;
  margin: 0 auto;
}

.u-section-4 .u-text-11 {
  font-weight: 700;
  width: 252px;
  margin: 22px auto 0;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 220px;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 113px;
    margin-bottom: 41px;
    min-height: 484px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-4 .u-image-1 {
    height: 236px;
    width: 236px;
  }

  .u-section-4 .u-image-2 {
    height: 236px;
    width: 236px;
  }

  .u-section-4 .u-image-3 {
    height: 236px;
    width: 236px;
  }

  .u-section-4 .u-image-4 {
    height: 236px;
    width: 236px;
  }

  .u-section-4 .u-image-5 {
    height: 236px;
    width: 236px;
  }

  .u-section-4 .u-image-6 {
    height: 236px;
    width: 236px;
  }

  .u-section-4 .u-image-7 {
    height: 236px;
    width: 236px;
  }

  .u-section-4 .u-image-8 {
    height: 236px;
    width: 236px;
  }

  .u-section-4 .u-image-9 {
    height: 236px;
    width: 236px;
  }

  .u-section-4 .u-image-10 {
    height: 236px;
    width: 236px;
  }

  .u-section-4 .u-image-11 {
    height: 236px;
    width: 236px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 124px;
    margin-bottom: 52px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-4 .u-image-1 {
    height: 279px;
    width: 279px;
  }

  .u-section-4 .u-image-2 {
    height: 279px;
    width: 279px;
  }

  .u-section-4 .u-image-3 {
    height: 279px;
    width: 279px;
  }

  .u-section-4 .u-image-4 {
    height: 279px;
    width: 279px;
  }

  .u-section-4 .u-image-5 {
    height: 279px;
    width: 279px;
  }

  .u-section-4 .u-image-6 {
    height: 279px;
    width: 279px;
  }

  .u-section-4 .u-image-7 {
    height: 279px;
    width: 279px;
  }

  .u-section-4 .u-image-8 {
    height: 279px;
    width: 279px;
  }

  .u-section-4 .u-image-9 {
    height: 279px;
    width: 279px;
  }

  .u-section-4 .u-image-10 {
    height: 279px;
    width: 279px;
  }

  .u-section-4 .u-image-11 {
    height: 279px;
    width: 279px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 121px;
    margin-bottom: 30px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4 .u-image-1 {
    height: 484px;
    width: 484px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4 .u-image-2 {
    height: 484px;
    width: 484px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4 .u-image-3 {
    height: 484px;
    width: 484px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4 .u-image-4 {
    height: 484px;
    width: 484px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4 .u-image-5 {
    height: 484px;
    width: 484px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4 .u-image-6 {
    height: 484px;
    width: 484px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4 .u-image-7 {
    height: 484px;
    width: 484px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4 .u-image-8 {
    height: 484px;
    width: 484px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4 .u-image-9 {
    height: 484px;
    width: 484px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4 .u-image-10 {
    height: 484px;
    width: 484px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4 .u-image-11 {
    height: 484px;
    width: 484px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 100px;
    margin-bottom: 47px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    height: 330px;
    width: 330px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-2 {
    height: 330px;
    width: 330px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-3 {
    height: 330px;
    width: 330px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-4 {
    height: 330px;
    width: 330px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-5 {
    height: 330px;
    width: 330px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-6 {
    height: 330px;
    width: 330px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-7 {
    height: 330px;
    width: 330px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-8 {
    height: 330px;
    width: 330px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-9 {
    height: 330px;
    width: 330px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-10 {
    height: 330px;
    width: 330px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-11 {
    height: 330px;
    width: 330px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 791px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 60px;
}

.u-section-5 .u-image-1 {
  background-image: url("images/9d63430d-8f5d-4697-9139-18d3979ac77d.jpg");
  background-position: 50% 50%;
  min-height: 355px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 23px 19px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 0 32px;
}

.u-section-5 .u-image-2 {
  background-image: url("images/317535995_5899141740106947_1399794007795526878_n.jpg");
  background-position: 50% 50%;
  min-height: 355px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 23px 14px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 228px 17px -7px;
}

.u-section-5 .u-image-3 {
  min-height: 355px;
  background-image: url("images/328936560_1813150752390256_1344770089152828675_n.jpg");
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 22px 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 147px;
  margin: 243px auto 0;
}

.u-section-5 .u-image-4 {
  min-height: 301px;
  background-image: url("images/315310114_5850157845005337_5425826924203689386_n.jpg");
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 253px;
  margin: 181px auto 0;
}

.u-section-5 .u-image-5 {
  min-height: 301px;
  background-image: url("images/businessmen-working-strategic-planning.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 186px;
  margin: 181px auto 0;
}

.u-section-5 .u-image-6 {
  min-height: 301px;
  background-image: url("images/14.jpeg");
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px 1px 30px 30px;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 100px;
  margin: 181px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-5 .u-image-1 {
    min-height: 293px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    min-height: 293px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-3 {
    min-height: 293px;
  }

  .u-section-5 .u-image-4 {
    min-height: 248px;
  }

  .u-section-5 .u-image-5 {
    min-height: 248px;
  }

  .u-section-5 .u-image-6 {
    min-height: 248px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-5 .u-image-1 {
    min-height: 224px;
  }

  .u-section-5 .u-image-2 {
    min-height: 224px;
  }

  .u-section-5 .u-image-3 {
    min-height: 224px;
  }

  .u-section-5 .u-image-4 {
    min-height: 190px;
  }

  .u-section-5 .u-text-4 {
    width: 188px;
  }

  .u-section-5 .u-image-5 {
    min-height: 190px;
  }

  .u-section-5 .u-text-5 {
    width: 168px;
  }

  .u-section-5 .u-image-6 {
    min-height: 190px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2032px;
  }

  .u-section-5 .u-image-1 {
    min-height: 504px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    min-height: 504px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-image-3 {
    min-height: 504px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-5 .u-image-4 {
    min-height: 428px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-5 .u-image-5 {
    min-height: 428px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-5 .u-image-6 {
    min-height: 428px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1232px;
  }

  .u-section-5 .u-image-1 {
    min-height: 317px;
  }

  .u-section-5 .u-image-2 {
    min-height: 317px;
  }

  .u-section-5 .u-image-3 {
    min-height: 317px;
  }

  .u-section-5 .u-image-4 {
    min-height: 269px;
  }

  .u-section-5 .u-image-5 {
    min-height: 269px;
  }

  .u-section-5 .u-image-6 {
    min-height: 269px;
  }
}